* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  /* width: 1100px; */
  display: flex;
  flex-direction: ;
}

.grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10, 1fr));
  margin: 0 auto;
}

.grid-container img {
  width: 100%;
  max-width: 500px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .grid-container {
    width: 100%;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 3fr));
    grid-gap: 30px;
  }

  .grid-container img {
    width: 100%;
    max-width: 1100px;
    transition: .3s all;
  }

  .grid-container img:hover {
    transform: scale(1.06);
  }
}