* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: azure;
  scroll-behavior: smooth;
}

/* Header */
.wedding-header {
  background-color: black;
  /* z-index: 10; */
}

.wedding-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 10px; */
  margin: 0 auto;
  position: relative;
}

.kd-logo {
  padding: 10px;
}
.kd-logo img {
  width: 90px;
}

/* .wedding-nav-flex {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  width: 100%;
  background-color: rgb(104, 104, 104);
} */

.wedding-nav-flex {
  /* position: absolute; */
  top: 6.5rem;
  right: 0;
  text-align: center;
  width: 100%;
  /* background-color: rgb(77, 77, 77); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);                    
}

.wedding-nav-flex li a{
  color: white;
  text-decoration: none;
}

.wedding-nav-flex li {
  color: white;
  list-style: none;
  padding: 10px;
}

.row {
  margin: 100px 0;
}

.grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10, 1fr));
  margin: 0 auto;
}

.grid-img img {
  width: 100%;
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  background: linear-gradient(180deg, rgba(255,255,255,.8), rgba(255,0,0,0) 90.71%);
  background: url(/img/hero-img-002.jpg) center center;
  background-size: cover;
  padding: 10px;
}

.about-container {
  margin: 0 10px;
}

.groom-img img, .bride-img img{
  width: 100%;
}

.groom, .bride {
  margin: 10px 0;
}

.bride {
  display: flex;
  flex-direction: column-reverse !important;
}

.groom-content, .bride-content {
  padding: 10px;
}

.grid-box {
  margin: 0 10px;
}

.blog-box {
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px 0 ;
}

.img-box img {
  width: 100%;
}

.content-box {
  padding: 20px;
}

@media (min-width: 768px) {
  .wedding-nav {
    padding: 10px;
  }

  .wedding-nav-flex {
    all: unset;
  }
  .wedding-nav-flex {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
    width: 100%;
  }

  .wedding-nav-flex li a {
    font-size: 20px;
  }

  .hero-section {
    min-height: 800px;
  }

  .grid-container {
    width: 100%;
    max-width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(30%, 3fr));
    grid-gap: 20px;
  }

  .grid-img {
    position: relative;
    transition: .3s ease all;
  }

  .grid-img:hover, .grid-img:focus {
    transform: scale(1.1);
    z-index: 1;
  }

  .grid-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    /* height: 100%; */
    background-color:rgba(0, 0, 0, 0.562);
    opacity: 0;
    transition: .3s ease all;
    transform: translate(-50%, -50%);
  }

  .text {
    font-weight: 400;
    color: white;
    padding: 16px 32px;
    text-align: center;
    align-items: center;
  }

  .grid-img:hover .grid-mid {
    opacity: 1;
  }

  .about-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    margin: 0 auto;
    background-color: white;
  }

  .groom, .bride {
    margin: unset;
  }

  .bride {
    flex-direction: row;
  }

  .groom-content, .bride-content {
    padding: 10px 10px 0 10px;
  }

  .blog-container {
    margin: 100px auto;
  }

  .grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 2fr));
    grid-gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .blog-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    /* transition: .3s ease; */
    margin: unset;
    cursor: pointer;
  }

  .blog-box:hover {
    box-shadow: 4px 4px 22px lightgray;
    border: none;
  }

  .img-box {
    max-width: 200px;
  }
}