* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10, 1fr));
  margin: 0 auto;
}

.grid-container img {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .grid-container {
    width: 100%;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 3fr));
    grid-gap: 20px;
  }

  /* .grid-container img {
    width: 100%;
    max-width: 1100px;
    transition: .3s all;
  } */

  .grid-img {
    position: relative;
    width: 100%;
    max-width: 1100px;
    transition: .3s ease all;
    cursor: pointer;
  }

  .grid-img:hover, .grid-img:focus {
    transform: scale(1.1);
    z-index: 1;
  }

  .grid-mid {
    position: absolute;
    top: 88%;
    left: 50%;
    width: 100%;
    /* height: 0%; */
    background-color:rgb(77, 77, 77);
    opacity: 0;
    transition: .3s ease all;
    transform: translate(-50%, -50%);
  }

  .text {
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 16px 32px;
    text-align: center;
    align-items: center;
  }

  .grid-img:hover .grid-mid {
    opacity: 0.6;
  }
}